/* ==========================================================================
Global
   ========================================================================== */
body {
	text-align:center;
}
img{
	width:100%;
	padding:10%;
}
/* ==========================================================================
Navbar
   ========================================================================== */
nav.navbar{
	background-image:url("../img/stickynav_back.png");
	width: 100%;
	background-size: cover;
   position: fixed;
    font-family: 'ProximaNova-Regular';
    z-index: 5;
}
  .navbar.mobile{
    display: none !important;
  }
  .navbar{
    padding: 8px 0;
    
  }
  .navbar img{
    width:35px;
  }

  #logo{
  	padding:0;
    width: 50px;
    margin-left: 30px;
    margin-top: 7px;
  }
  .navbar li{
    line-height: 3;
  }
  .navbar li a{
  	color:white;
    padding: 2px 5px;
    letter-spacing: 3px;
    font-size: 12px;
    text-transform: uppercase;
  }
/* ==========================================================================
Content
   ========================================================================== */

header{

	background: url('../img/the_razor_cliffs.jpg') no-repeat;
	background-size: cover;
	height:610px;
    
}

#title{
	text-align:center;
	color:white;
}
#title h1{
	padding-top:100px;
}
#title a, #benefits a{

	background-color:#CB6057;
	text-transform:uppercase;
	color:white;
	width:230px;
    letter-spacing: 2.6px;
    line-height: 14px;
    margin:0 auto;
    margin-top: 30px;
    position: relative;
    text-decoration: none;
    background-color: #EB6057;
    //font-family: ProximaNova-Regular;
    font-size: 13px;
    display: block;
    box-shadow: 0px 3px 0px #CB3C3D;
    text-align: center;
    padding: 16px 0px 13px;
    transition: all 0.1s ease 0s;
}
ul.inline {
    list-style: outside none none;
}
ul.inline li {
    display: inline-block;
}
li {
	font-size:12;
}
#join{
	background: url('../img/ClassesTexture.png') no-repeat;
	background-size: 100%;
	background-color:#4D4E68;
	width:100%;
	color:white;
	height:auto;
	margin: 0 auto;
	font-size: 23px;
    line-height: 31px;
}
#join p, #join h2, #join h1, #join h3{
	padding:50px;
}
  #join p{
    display: block;
    padding-top: 40px;
    margin-bottom: 30px;
  }
  #join h2{
    font-family: ProximaNova-Regular;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 24px;
    margin-top: 60px;
    font-weight: 100;
  }

#diagram{
	background-color: #FFE3D0;
	background-size: 100%;
    padding-bottom: 400px;
    margin-bottom:100px;

  
}
.course-takeaway{
	font-style:italic;
}
.description{
	background-color:#4D4E68;
	height:400px;
}
.numberHolder{
	color: #2D2D2D;
    width: 100%;
    text-align: center;
    padding-top: 32px;
}
 .numberHolder .circleNumber{
    //font-family: ProximaNova-Bold;
    font-size: 17px;
    display: inline-block;
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 35px;
    height: 35px;
    padding: 5px;
     background: transparent;
    border: 2px solid #2B2B2B;
}
 .title{
    display: inline-block;
    margin-top: 10px;
    letter-spacing: 3px;
    font-size: 12px;
}
.icons{
	width:400px;
	padding:0px;
}